@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/*------------------main heading container Home*/
/*------------------jumbotro socials*/
/*------------------heading picture*/
.mainpiccontainer{
    margin: 50px;
}
.mainpiccontainter img{
    width: 100%;
    margin: 50px;
    height: 50px;
}

/*------------------Nav Bar home*/

.span1{
    color: #FFBF00;
    padding: 2px;
    margin: 10px;
}
.span2{
    color: #c46210;
    padding: 2px;
    margin: 10px;
    
}
.span3{
    color: teal;
    padding: 2px;
    margin: 10px;
}

li i{
    color: white;
}

a:link{
    text-decoration: none;
}


   
/*------------------general*/

.sub-heading{
    font-family: "Exo",sans-serif;
    font-weight: 300;
    color: #fff;
}

.nav-heading{
    font-family: "Exo",sans-serif;
    font-weight: 300;
    color:teal;
}

.gallerysub-heading{
    font-family: "Exo", sans-serif;
    font-weight: 300;
    color: maroon;
}

.inline-block{
    display: inline-block;
}

.uppercase {
    text-transform: uppercase;
    margin: 0;
}

/*------------------Main Content home*/

.homebodysection{
    display: block;
    background-image: url(../images/fronthomeinside.JPG);
    background-position: center center;
    overflow: hidden;

}

.homeimagesection,
.contectsection,
.videosection{
    box-sizing: border-box;
    border: 1px transparent teal;
    padding: 5px;
}

.contectsection, p{
color: 	#FFf;
font-weight: bold;

}

.videocontainer{
    float: right;
    width: 500px;
}

video{
    width: 100%;
}

.clear{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.firstsection{
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: "Exo", sans-serif;
    text-align: right;
}

.house-front{
    border-radius: 15%;
    height: 250px;
    margin: 10px;
}

.homemainhead{
    font-family: "Exo", sans-serif;
    font-weight: 300;
    color: maroon;
    text-align: center;
}

/*------------------profile Card*/

.profile{
    font-family: "Exo", sans-serif;
    text-align: center;
    max-width: 200px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 20px;
    float: right;
    height: 250px;
    margin: 10px;
}

.profile-image{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin: 0 auto 20px auto;
    display: block;
}

.profile-name{
    font-size: 1.2em;
    font-weight: bold;
}

/*------------------Home map*/
iframe{
    position: flex;
    right: 1000px;
    margin: 15px;
    padding: 0px;

}
/*------------------footer*/

.footernav {
   bottom: 0px;
   width: 100%;
   background: maroon;
   height: 250px;
   overflow: hidden;
}

.main-content{
    display: inline-flex;
    color: #fff;
    font-family: "Exo", sans-serif;
}

.main-content .left-box,
 .center-box,
 .right-box{
    flex-basis: 50%;
    padding: 10px 20px;
    box-sizing: border-box;
}

.box h2{
    font-size: 1.125rem;
    font-weight: 300;
    text-transform: uppercase;
    color: #fff;
}

.box .content{
    margin: 10px 0 0 0;
    position: relative;
}

.box .content:before{
    position: absolute;
    content: '';
    top: -10px;
    height: 2px;
    width: 100%;
    background: teal;
}

.box .content:after{
    position: absolute;
    content: '';
    height: 2px;
    width: 15%;
    background: #fff;
    top: -10px;
}

.box .content p{
    text-align: justify;
}

#social{
    margin: 10px 0 0 0;
}

#social a{
    padding: 0 2px;
}

#social a span{
    height: 40px;
    width: 40px;
    background: teal;
    line-height:40px;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
    transition: 0.3s;
    color: #fff;
}

#social a span:hover{
    background: #FFBF00;
}
.center-box .content .fas{
    font-size: 1.4375rem;
    background: teal;
    height: 45px;
    width: 45px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    transition: 0.3s;
    cursor: pointer;
}

.center-box .content .fas:hover{
    background: #FFBF00;
}

.center-box .content .text{
    font-size: 1.0625rem;
    font-weight: 500;
    padding-left: 10px;
    color: #fff;
}

.center-box .content .phone{
    margin: 10px 0;
}

.right-box form .text{
    font-size: 1.0625rem;
    margin-bottom: 2ppx;
    color: #fff;
}

.right-box form .msg{
    margin-top: 5px;
}

.right-box form input, .right-box form textarea{
    width: 100%;
    font-size: 1.0625rem;
    background: #fafafa;
    padding-left: 10px;
    border: 1px solid #fafafa;
    height: 30px;
}

.right-box form input:focus,
.right-box form textarea:focus{
    outline-color: gray;
}

.right-box form input{
    height: 20px;
}

.right-box form .btn{
    margin-top: 0px;
    margin-bottom: 3px;
}

.right-box form .btn button{
    height: 40px;
    width: 100%;
    border: none;
    outline: none;
    background: teal;
    font-size: 1.0625rem;
    font-weight: 500;
    cursor: pointer;
    transition: .3s;
    color: #fff;
}

.right-box form .btn button:hover{
    background: #FFBF00;
}
.bottom center{
    padding: 0px;
    font-size: 0.9375rem;
    background: teal;
    line-height: 1.4;
}

.bottom center span{
    color: #fafafa;
}

.bottom center a{
    color: #FFBF00;
    text-decoration: none;
}

.bottom center a:hover{
    text-decoration: underline;
}

/*------------------Booking*/

.bookingbody{
    background-image: url(../images/mainlogo.JPG);
    background-position: center;
    overflow: hidden;
}

#form{
    background-color:#8B0000;
    height: 400px;
    width: 800px;
    margin: auto;
    margin-top: 15px;
    opacity: 0.7;
}

#first-group{
    border: none;
    width: 480px;
    margin-top: 38px;
    position: absolute;
}

#bookingcontent1{
    border: 1px solid none;
    margin: 10px;
    margin-left: 8px;
    padding: 5px;
}

#bookingcontent2{
    border: 1px solid none;
    margin: 10px;
    margin-left: 8px;
    padding: 5px;
}

#bookingcontent3{
    border: 1px solid none;
    margin: 10px;
    margin-left: 8px;
    padding: 5px;
}

#bookingcontent4{
    border: 1px solid none;
    margin: 10px;
    margin-left: 8px;
    padding: 5px;
}
#bookingcontent5{
    border: 1px solid none;
    margin: 10px;
    margin-left: 8px;
    padding: 5px;
}

#bookingcontent6{
    border: 1px solid none;
    margin: 10px;
    margin-left: 8px;
    padding: 5px;
}

#bookingcontent1 #input-group1{
    border: none;
    outline: none;
    background: #8B0000;
    margin-left: 8px;
    width: 300px;
    color:#fff;
}

#bookingcontent2 #input-group2{
    border: none;
    outline: none;
    background: #8B0000;
    margin-left: 8px;
    width: 300px;
    color:#fff;
}

#bookingcontent3 #input-group3{
    border: none;
    outline: none;
    background: #8B0000;
    margin-left: 8px;
    width: 300px;
    color:#fff;
}

#bookingcontent4 #input-group4{
    border: none;
    outline: none;
    background: #8B0000;
    margin-left: 8px;
    width: 300px;
    color:#fff;
}

#bookingcontent5 #input-group5{
    border: none;
    outline: none;
    background: #8B0000;
    margin-left: 8px;
    width: 300px;
    color:#fff;
}

#bookingcontent6 #input-group6{
    border: none;
    outline: none;
    background: #8B0000;
    margin-left: 8px;
    width: 300px;
    color:#fff;
}

::placeholder{
    color: #fff;
}

.far, .fas{
    display: inline-block;
    border-right: 1px solid #fff;
    padding: 8px;
    margin-left: 8px;
}

#second-group{
    border: none;
    width: 480px;
    margin-top: 55px;
    margin-left: 400px;
}

#submit-btn{
    margin-top: 30px;
    margin-left: 600px;
    background: transparent;
    color:#fff;
    width: 150px;
    border: 1px solid white;
    outline: none;
    padding: 15px;
    font-size: 20px;
    cursor: pointer;
}

#submit-btn:hover{
    background: #FFBF00;
}

/*------------------Gallery*/

.gallery{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Exo",sans-serif;
}

h1{
    font-weight: 800;
}

p{
    font-weight: 500;
}

.row{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-left: 0px;
}

.row .column{
    flex: 33.3%;
    width: auto;
    overflow: hidden;
    padding: 0 4px;
    height: 100%;
}

.row .column img{
    margin-top: 2%;
    width: 100%;
    height: 100%;
    cursor: pointer;
    filter: drop-shadow(1) brightness(0.5);
    border-radius: 5px;
    transition: 0.3s linear;
}

.row .column img:hover{
    filter: drop-shadow(0) brightness(1);
}

/*------------------Gallery media query*/

@media only screen and (max-width: 800px){
     .row .column{
         flex: 50%;
     }

}

@media only screen and (max-width: 600px){
    .row .column{
        flex: 100%;
    }
    .row .column img{
        filter: drop-shadow(0) brightness(1);
    }
}

/*------------------Booking media query*/
@media screen and (max-width: 600px){
    body{
        display: block;
    }
    footer{
        display: block;
    }
}
/*------------------home page media query*/
@media screen and (min-width: 768px){
    .homebodysection{
        display: block;
    }
}