


/*------------------Nav Bar*/

.navitems {
    height: 120px;
    text-align: center;
    padding: 0;
}

#nav {
    margin: 0;
}

#nav li {
    font-size: 14px;
    padding: 0;
    display: inline;
}

.inline-block {
    display: inline-block;
}

.uppercase {
    text-transform: uppercase;
}
