@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');
/*------------------main heading container*/

#mainheadingcontainer {
    position: relative; 
    color: #fafafa;
    right: 10px; 
    font-family: "Exo",sans-serif;
  
}

#gezelligcontainer {
   position: absolute;
   top: 10px;
   left: 10px;  
   padding: 5px;
   background-color: transparent;
   border: 2px solid hidden;
}

/*------------------Nav Bar*/

.navitems {
    height: 120px;
    text-align: center;


    
}

#nav {
    margin: 5px;
    position: absolute;
    float: none;
    text-align: left;

}

#nav li {
    font-size: 15px;
    padding: 10px;
    display: inline;
    font-family: "Exo",sans-serif;
    
}

a:link {
  color: #fff;
  background-color: transparent;
  text-decoration: none;
}

.uppercase {
    text-transform: uppercase;
    margin: 0;
}

.divnav1 {
    background-color: teal;
    margin: 0;
}

.divnav2 {
    background-color: maroon;
    margin: 0;
}

.divnav3 {
    background-color: #FFBF00;
    margin: 0;
}

.divnav4 {
    background-color: #C46210;
    margin: 0;
}

/*------------------img*/

img{
    width: 100%;
    border: 2px solid black;
    background: no-repeat center;
    height: 10%;
    object-fit: cover;
    
}
    

/*------------------general*/

.sub-heading{
    font-family: "Exo",sans-serif;
    font-weight: 300;
    color: #fff;
}

.inline-block{
    display: inline-block;
}

/*------------------footer*/

footer {
    background-color: maroon;
    color: #fafafa;
    min-height: 70px;
    margin: 10px;
    font-size: medium;
}

footer ul{
    
}
